#boardHolder {
    position: absolute;
    top: 0;
    left: 75%;
    padding:5px;
    background: #fcfffc;
    border-radius:5px;
    border:1px solid #CCC;
    margin-top: 15px;
    margin-left:8px;
    width: 12%;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    opacity: 0.9;
}

#players > div {
    /*TODO make container same height as cute cats :> and not make them overflow holy*/
    background: rgba(126, 126, 139, 0.41);
    border: 2px solid rgba(122, 121, 139, 0.6);
    opacity: 0.7;
    min-height: 75px;
    min-width: 69px;
    font-weight: bold;
    text-align: center;
}

#players > div > img {
    max-height: 75px;
    max-width: 69px;
    float: left;
}

@media (max-width: 70em) {
    #boardHolder {
        display: none;
    }
}