#boardHolder {
    position: absolute;
    top: 0;
    left: 75%;
    padding:5px;
    background: #fcfffc;
    border-radius:5px;
    border:1px solid #CCC;
    margin-top: 15px;
    margin-left:8px;
    width: 11%;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    opacity: 0.9;
}

#players {
    flex-direction: column;
}

#players > div {
    background: rgba(126, 126, 139, 0.41);
    border: 2px solid rgba(122, 121, 139, 0.6);
    opacity: 0.7;
    font-weight: bold;
    text-align: start;
    overflow-wrap: break-word;
}

#players > div > img {
    max-height: 55%;
    max-width: 55%;
    float: inside;
}

@media (max-width: 70em) {
    #boardHolder {
        display: none;
    }
}